<style>

.dsq-full-comment { color: #8affaf !important; } /*for Narcissus theme users*/
.dsq-comment-body { color: #8affaf !important; } /*for Houdini theme users*/
#dsq-content { color: #8affaf !important; }

</style>

<script>
    function addCommentStyles(){
        $('#post-list').addClass("comment-positive01");
    }
    window.onload = function(){
        console.log("실행됨!");

        setTimeout(function(){
            console.log($('#post-list').length);
            addCommentStyles();
        }, 3000);
    }
</script>