/* 1에 가까울 수록 정도가 약함, 5에 가까울수록 정도가 심함 */
.comment-positive01{
  color: #edfff3 !important;
}
.comment-positive02{
  color: #c2f2d1 !important;
}
.comment-positive03{
  color: #a8ffc4 !important;
}
.comment-positive04{
  color: #8affaf !important;
}
.comment-positive05{
  color: #68fc97 !important;
}
.comment-neutral{
  
}
.comment-negative01{
  color: #fff3ed !important;
}
.comment-negative02{
  color: #ffe7db !important;
}
.comment-negative03{
  color: #ffd6c2 !important;
}
.comment-negative04{
  color: #ffc5a8 !important;
}
.comment-negative05{
  color: #ffb38c !important;
}
